@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 60px;
}